body {
    background-color: #C6D7C5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    list-style-type: none;
    text-align: center;
}

#navbar li {
    display: inline;
    margin-right: 2vw;
}

#navbar a {
    text-decoration: none;
    color: #C6D7C5;
}
#navbar a:hover {
    color: #050907;
    font-weight: bold;
}

header {
    background-color: #1D7948;
    padding: 2vw 2vw 2vw 2vw;
}

#dp {
    background-color: #1D7948;
    padding: 0vw 5vw 3vw 5vw;
    text-align: center;
    font-weight: bold;
    color: #C6D7C5;
    font-size: 36.56px;
}

.content {
    padding: 2vw 5vw 0vw 5vw;
    font-weight: bold;
    font-size: 30px;
}

ul {
    color: #1D7948;
    font-size: 20px;
    font-weight: normal;
}


table {
    color: #1D7948;
    font-size: 20px;
    font-weight: normal;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    border: 2px solid #050907;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #8B978A;
  }
  
  td:hover {
    background-color: #1D7948;
    color: #C6D7C5;
  }

  .green {
    background-color: #1D7948;
    padding: 2vw 2vw 2vw 2vw;
    text-align: center;
}

audio{
    width: 100%;
  }
  

  
  